# Backend Configuration
DJANGO_SECRET_KEY=your_django_secret_key_here
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=Cluster
GS_BUCKET_NAME=your_bucket_name
FIREBASE_CRED_JSON={"type": "service_account", "project_id": "your_project", "private_key": "your_key", "client_email": "your_email"}

# Frontend Configuration
NEXT_PUBLIC_BACKEND_URL=https://your-backend-url.com
