asgiref==3.11.0
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
dnspython==2.8.0
pymongo==4.15.5
sqlparse==0.5.5
tzdata==2025.3
Pillow

whitenoise==6.6.0
gunicorn==22.0.0
django-storages[google]==1.14.2
google-cloud-storage==2.14.0
firebase-admin==6.6.0
python-dotenv==1.0.1
